In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('D:\info_viz\FactSegmentAdherence_original_data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\i'
<>:1: SyntaxWarning: invalid escape sequence '\i'
C:\Users\acer\AppData\Local\Temp\ipykernel_15036\3344138006.py:1: SyntaxWarning: invalid escape sequence '\i'
  data=pd.read_csv('D:\info_viz\FactSegmentAdherence_original_data.csv')

In [ ]:
data.shape

(20618440, 27)

In [ ]:
data.describe()

,DateKey,BlockKey,RouteKey,DepartStopKey,ArriveStopKey,TripKey,UserKey,VehicleKey,TripSequence,ArriveBoards,...,ArriveOnboard,DepartBoards,DepartAlights,DepartOnboard,DepartTimeVarianceSecs,ArriveTimeVarianceSecs,EndTimeVarianceSecs,TotalTimeScheduleSecs,TotalTimeActualSecs,TotalTimeVarianceSecs
count,2.061844e+07,2.061844e+07,2.061844e+07,2.061844e+07,2.061844e+07,2.061844e+07,2.061844e+07,2.061844e+07,2.061844e+07,1.951369e+07,...,1.951369e+07,1.951435e+07,1.951435e+07,1.971753e+07,1.951435e+07,1.951435e+07,1.951435e+07,2.061844e+07,1.951435e+07,1.951435e+07
mean,9.436600e+03,1.521951e+03,2.045620e+03,9.978012e+03,9.978016e+03,1.873617e+05,1.804110e+03,3.075015e+03,3.337545e+01,1.774862e-01,...,4.497750e+00,2.239485e-01,1.861843e-01,4.483926e+00,1.570203e+02,1.467812e+02,1.565279e+02,7.081145e+01,6.886790e+01,-4.923327e-01
std,7.098551e+01,1.433391e+02,2.084615e+01,4.750474e+03,4.750477e+03,3.510271e+03,7.494285e+02,7.420117e+02,2.348412e+01,8.707414e-01,...,5.036685e+00,1.067881e+00,9.884412e-01,5.031494e+00,2.985639e+02,3.015901e+02,3.002512e+02,1.350617e+02,1.350577e+02,6.373415e+01
min,9.313000e+03,1.354000e+03,1.977000e+03,1.700000e+03,1.700000e+03,1.771580e+05,-1.000000e+00,-1.000000e+00,1.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.160000e+03,-1.111000e+03,-2.591000e+03,7.000000e+00,0.000000e+00,-2.625000e+03
25%,9.375000e+03,1.404000e+03,2.031000e+03,6.090000e+03,6.090000e+03,1.841120e+05,1.235000e+03,3.143000e+03,1.400000e+01,0.000000e+00,...,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,9.000000e+00,-3.000000e+00,9.000000e+00,3.100000e+01,2.300000e+01,-1.800000e+01
50%,9.437000e+03,1.479000e+03,2.043000e+03,7.573000e+03,7.573000e+03,1.875570e+05,1.777000e+03,3.216000e+03,2.900000e+01,0.000000e+00,...,3.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,1.000000e+02,9.000000e+01,1.000000e+02,4.500000e+01,3.800000e+01,-8.000000e+00
75%,9.498000e+03,1.600000e+03,2.067000e+03,1.497400e+04,1.497400e+04,1.901340e+05,2.541000e+03,3.354000e+03,4.900000e+01,0.000000e+00,...,7.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,2.330000e+02,2.240000e+02,2.330000e+02,6.500000e+01,6.900000e+01,1.000000e+01
max,9.559000e+03,1.815000e+03,2.080000e+03,1.859400e+04,1.859400e+04,1.937470e+05,2.935000e+03,3.486000e+03,1.160000e+02,2.550000e+02,...,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,1.814100e+04,1.826700e+04,1.843500e+04,2.881000e+03,1.788400e+04,1.776900e+04

In [ ]:
date_data=pd.read_csv(r"C:\Users\acer\Downloads\DimDate.csv")[['DateKey','CalendarDate','DayOfWeekName','WorkdayType']]

In [ ]:
date_data.head()

   DateKey             CalendarDate DayOfWeekName WorkdayType
0     8670  2022-01-01 00:00:00.000      Saturday    Saturday
1     8671  2022-01-02 00:00:00.000        Sunday      Sunday
2     8672  2022-01-03 00:00:00.000        Monday     Weekday
3     8673  2022-01-04 00:00:00.000       Tuesday     Weekday
4     8674  2022-01-05 00:00:00.000     Wednesday     Weekday

In [ ]:
data=data.merge(date_data,on='DateKey',how='left')

In [ ]:
data.shape

(20618440, 30)

In [ ]:
data.head()

,DateKey,BlockKey,RouteKey,DepartStopKey,ArriveStopKey,TripKey,UserKey,VehicleKey,TripSequence,ArriveBoards,...,ArriveTimeVarianceSecs,EndTimeSchedule,EndTimeActual,EndTimeVarianceSecs,TotalTimeScheduleSecs,TotalTimeActualSecs,TotalTimeVarianceSecs,CalendarDate,DayOfWeekName,WorkdayType
0,9313,1369,2001,1700,5559,180233,1071,2900,70,0.0,...,-119.0,2023-10-07 00:11:22.000,2023-10-07 00:09:23.000,-119.0,74,67.0,-7.0,2023-10-06 00:00:00.000,Friday,Weekday
1,9313,1545,2007,2974,16278,180058,2537,3243,20,0.0,...,82.0,2023-10-07 00:29:02.000,2023-10-07 00:30:24.000,82.0,21,9.0,-12.0,2023-10-06 00:00:00.000,Friday,Weekday
2,9313,1404,1995,5063,5064,181608,1476,3256,23,0.0,...,322.0,2023-10-07 00:06:16.000,2023-10-07 00:11:38.000,322.0,22,23.0,1.0,2023-10-06 00:00:00.000,Friday,Weekday
3,9313,1404,1995,5064,5066,181608,1476,3256,24,0.0,...,340.0,2023-10-07 00:07:00.000,2023-10-07 00:13:04.000,364.0,44,86.0,42.0,2023-10-06 00:00:00.000,Friday,Weekday
4,9313,1404,1995,5066,5068,181608,1476,3256,25,0.0,...,353.0,2023-10-07 00:07:44.000,2023-10-07 00:13:37.000,353.0,44,33.0,-11.0,2023-10-06 00:00:00.000,Friday,Weekday

In [ ]:
route_data=pd.read_csv(r'C:\Users\acer\Downloads\DimRoute.csv')[['RouteInternetName','RouteKey']]

In [ ]:
route_data.head()

  RouteInternetName  RouteKey
0               NaN        -1
1         Undefined      1000
2               NaN      1001
3      East 34th St      1002
4   Michigan Street      1003

In [ ]:
data=data.merge(route_data,on='RouteKey',how='left')

In [ ]:
data.shape

(20618440, 31)

In [ ]:
route_data.rename(columns={'RouteInternetName': 'RouteDepartInternetName'}, inplace=True)

In [ ]:
data=data.merge(route_data,left_on='RouteKey',right_on='RouteKey',how='left')

In [ ]:
data.shape

(20618440, 32)

In [ ]:
route_data.rename(columns={'RouteDepartInternetName': 'RouteArrivalInternetName'}, inplace=True)

In [ ]:
data=data.merge(route_data,left_on='RouteKey',right_on='RouteKey',how='left')

In [ ]:
data.shape

(20618440, 33)

In [ ]:
data.to_csv('final_data.csv')

In [ ]:
pwd

'd:\\info_viz\\generating-reviews-discovering-sentiment'

In [ ]:
data.head(20000).to_csv('demo_data.csv')